<table id="stores" class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Street</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Zip code</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <thead data-target="filter" class="d-none">
    <tr>
      <th scope="col">&nbsp;</th>
      <th data-type="store_name" scope="col">
        <!-- name search input box -->
      </th>
      <th data-type="street" scope="col">
        <!-- street search input box -->
      </th>
      <th data-type="city" scope="col">
        <!-- city search input box -->
      </th>
      <th data-type="state" scope="col">
        <!-- state search input box -->
      </th>
      <th data-type="zip-code" scope="col">
        <!-- zip_code search input box -->
      </th>
      <th scope="col">&nbsp;</th>
    </tr>
  </thead>
  <tbody data-target="filter">
    <% @resources.each_with_index do |store, index| %>
      <%= render store, index: index %>
    <% end %>
  </tbody>
</table>
