<main class="form form-list-stores m-auto">
  <div data-controller="filter">
    <div class="h1 mb-3 fw-normal"><i class="bi bi-building-check"></i>Add a Store</div>
    <%= render partial: "stores", locals: { stores: @resource, mode: :add } %>
  </div>
  <% unless @resource.stores.any? %>
  <div>
    The <%= render partial: "shared/site_name", locals: { mode: :dark } %>
    universe currently has no stores! Save the world and add some!
  </div>
  <% end %>
</main>

<div class="help-links">
  <%= link_to new_store_path, class: "btn btn-primary" do %>
    <i class="bi bi-building-add"></i>New store
  <% end %>
</div>
