<main class="form form-list-stores m-auto">
  <div data-controller="filter">
    <div class="h1 mb-3 fw-normal"><i class="bi bi-building-fill"></i> My Stores</div>
    <div style="color: green"><%= notice %></div>
    <%= render @resources %>
  </div>
  <% unless @resources.any? %>
  <div>
    You currently have no stores.
  </div>
  <% end %>
</main>

<div class="help-links">
  <%= link_to add_stores_path, class: "btn btn-primary" do %>
    <i class="bi bi-building-fill-add"></i> Add a store
  <% end %>
<div>
