<main class="form m-auto">
  <div class="h1 mb-3 fw-normal"><i class="bi bi-bookmark"></i>Label</div>
  <%= render partial: 'shared/label', object: @label.presenter %>

  <div class="help-links">
    <%= link_to "Back", labels_path %>
  </div>
</main>
