<% if debug? %>
  <div>
    <%= "@resource.class.name: #{@resource.class.name}" %>
  </div>
  <div>
    <%= "@resource.to_s: #{@resource.to_s}" %>
  </div>
  <div>
    <%= "@resource.inspect: #{@resource.inspect}" %>
  </div>
<% end %>
