<% if notice %>
  <div class="alert alert-success">
    <i class="bi bi-check-circle-fill float-start"></i>
    &nbsp;<%= notice %>
    <i class="bi bi-x-circle-fill float-end"></i>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-danger">
    <i class="bi bi-exclamation-circle-fill float-start"></i>
    &nbsp;<%= alert %>
    <i class="bi bi-x-circle-fill float-end"></i>
  </div>
<% end %>
