<% search_results.each_slice(2) do |slice| %>
  <div class="row">
    <% slice.each do |item| %>
      <div class="col">
        <%= check_box_tag 'item_ids[]',
                          item.id,
                          false,
                          id: "item_ids_#{item.id}",

              data: {
                action: "change->#{javascript_controller}#select",
                item_name: item.item_name
              }
        %>
        <%= item.item_name %>
      </div>
    <% end %>
  </div>
<% end %>
