<nav class="admin-menu">
  <header class="p-3">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><%= link_to "Stores", user_stores_path, class: "nav-link px-2 text-white" %></li>
          <li><%= link_to "Items", items_path, class: "nav-link px-2 text-white" %></li>
          <li><a href="#" class="nav-link px-2 text-white">Labels</a></li>
        </ul>
        <div class="text-end">
        </div>
      </div>
    </div>
  </header>
</nav>
