<%
container_css_class   ||= "site-name-container"
primary_css_class     ||= "food"
secondary_css_class   ||= "me"
%>
<span class="<%= container_css_class %>">
  <span class="<%= primary_css_class %>">food</span><span class="<%= secondary_css_class %>">Me</span>
</span>
