<main class="form form-list-stores m-auto">
  <div data-controller="filter">
    <div class="h1 mb-3 fw-normal"><i class="bi bi-building-fill"></i>My Stores</div>
    <%= render partial: 'shared/stores', locals: { stores: @resource, mode: :list } %>
  </div>
  <% unless @resource.any? %>
    <div>
      You currently have no stores. You can add one by clicking the
      <strong><i class="bi bi-building-fill-check"></i> Add a store</strong> button below.
    </div>
  <% end %>
</main>

<div class="help-links">
  <%= link_to add_user_stores_path, class: "btn btn-primary" do %>
    <i class="bi bi-building-fill-check"></i> Add a store
  <% end %>
</div>
