<main class="form m-auto">
  <div class="h1 mb-3 fw-normal"><i class="bi bi-building"></i>Store</div>
  <%= render partial: 'shared/store', object: @resource.store_presenter %>

  <div class="help-links">
    <%= link_to "Back", user_stores_path %>
  </div>
</main>
