<%#= content_tag(:div, "_items.html.erb: #{items.class.name}") %>
<table id="items" class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col" class="text-center">Archived?</th>
      <th scope="col" class="text-center">Actions</th>
    </tr>
  </thead>
  <thead data-target="filter" class="d-none">
    <tr>
      <th scope="col"></th>
      <th data-type="item_name" scope="col">
        <!-- item_name search input box -->
      </th>
      <th data-type="archived" scope="col">
        <!-- archived search input box -->
      </th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody data-target="filter">
    <%= render partial: 'item', collection: items.presenters, locals: { pager_params: pager_params } %>
  </tbody>
</table>
