<div class="row mb-3">
  <div class="invisible col-sm-2 col-md-2 col-lg-2 col-form-label">
  </div>
  <div class="col-sm-10 col-md-7 col-lg-5">
    <div class="container items-type-ahead">
      <% items.each_slice(2) do |slice| %>
        <div class="row">
          <% slice.each do |item| %>
            <div class="col">
              <%= check_box_tag 'item_ids[]',
                                item.id,
                                @selected_item_ids&.include?(item.id),
                                id: "item_ids_#{item.id}",

                    data: {
                      action: "change->shopping-list-items#select",
                      item_name: item.item_name
                    }
              %>
              <%= item.item_name %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
