<%
add_an_item_button_text = "Add an item"
%>
<main class="form form-list-items m-auto">
  <div data-controller="filter">
    <div class="h1 mb-3 fw-normal"><i class="bi bi-cart-fill"></i> Items</div>
    <%= render partial: "items", object: @items, as: :items, locals: { mode: :list } %>
  </div>
  <% unless @items.any? %>
  <div>
    There are currently no items.
    You can add one by clicking the
    <strong>
      <i class="bi bi-cart-fill-check"></i> <%= add_an_item_button_text %>
    </strong>
    button below.
  </div>
  <% end %>
</main>

<div class="help-links">
  <%= link_to new_item_path, class: "btn btn-primary" do %>
    <i class="bi bi-cart-fill-check"></i> <%= add_an_item_button_text %>
  <% end %>
</div>
