<main class="form m-auto">
  <div class="h1 mb-3 fw-normal"><i class="bi bi-cart"></i>Item</div>
  <%= render partial: 'shared/item', object: @item.presenter %>

  <div class="help-links">
    <%= link_to "Back", items_path %>
  </div>
</main>
