<div class="mb-3">
  <h4 class="mb-1">Name</h4>
  <p><%= shopping_list.display_name %></p>
</div>

<div class="mb-3">
  <h4 class="mb-1">Week of</h4>
  <p><%= shopping_list.display_week_of %></p>
</div>

<div class="mb-3">
  <h4 class="mb-1">Type</h4>
  <p><%= shopping_list.display_type %></p>
</div>

<div class="mb-3">
  <h4 class="mb-1">Notes</h4>
  <p><%= shopping_list.notes %></p>
</div>
