.admin-menu {
  background-color: var(--bs-red) !important;
  color: var(--bs-white) !important;

  .admin-menu-item {
    .nav-link {
      color: #495057;
      &:hover {
        color: #212529;
      }
    }
    .nav-link.active {
      background-color: #e9ecef;
      color: #212529;
    }
  }
}
