body {
  background-color: var(--bs-gray-100);
}

.body {
  margin: 0 10px;
}

.site-name-container {
  font-size: 1.10rem;

  .food {
    font-weight: 400;
    color: var(--bs-gray-500);
  }

  .food.light {
    @extend .text-white
  }

  .food.dark {
    @extend .text-black
  }

  .me {
    color: var(--bs-yellow);
    font-weight: 800;
  }
}

// Devise forms
.devise-form,
.form {
  padding: 1rem;

  form {
    .form-floating {
      margin-bottom: 1rem;

      .input {
        .hint {
          padding: 0.375rem 0.75rem;
        }
      }
    }
  }
}

.form-login {
  max-width: 330px;
}

.form-signin {
  max-width: 100%;
}

.form-edit-registration,
.form-cancel-registration,
.form-forgot-password,
.form-change-your-password,
.form-resend-confirmation-instructions,
.form-resend-unlock-instructions {
  max-width: 400px;
}

.help-links.marginized {
  margin-top: 0.50rem;
}

// Override Bootstrap's default form validation styles
abbr[title] {
  text-decoration: none;
  border-bottom: none;
  cursor: help;
  color: var(--bs-red);
}
